.intro {
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    text-align: left;
    height: 100%;
    width: 80vw;
    font-size: calc(3px + 2.3vmin);
    line-height: 3.3vmin;
    color: #a08f8f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}

.text {
    grid-area: 1 / 1 / 5 / 6;
}

.signup-text {
    grid-area: 1 / 1 / 5 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}

.signup-text p {
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
}

.signup {
    grid-area: 2 / 1 / 4 / 6;
    display: flex;
    flex-direction: column;
}

.signup-field {
    font-family: Inconsolata;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
}

.signup-field label {
    width: 30%;
}

input[type="text"] {
    border: none;
    outline: none;
    color: #d2c3c3;
    background: #182121;
    font-family: inherit;
    font-size: inherit;
    margin: 0 10px;
    width: 70%;
    caret-shape: block;
}

.signup-field div {
    display: inline;
    outline: none;
    visibility: visible;
}

/*
  If you press the Insert key, the vertical line caret will automatically
  be replaced by a one-character selection.
*/
.signup-field div::selection {
    color: #000;
    background: #0F0;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.signup-field div:focus + #caret {
    animation: blink 1s steps(5, start) infinite;
}

.signup-field div.noCaret + #caret {
    visibility: hidden;
}

#caret {
    border: 0;
    padding: 0;
    outline: none;
    background-color: #0F0;
    display: inline-block;
    font-family: monospace;
}

.intro-link {
    grid-area: 5 / 1 / 6 / 6;
    outline: none;
}

.intro-link p {
    position: relative;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introarrow {
    color: white;
    padding: 0 5px;
}


.main-enter {
    opacity: 0.01;
}

.main-enter.main-enter-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
}

.main-exit {
    opacity: 1;
}

.main-exit.main-exit-active {
    opacity: 0.01;
    transition: opacity 1500ms ease-in;
}