.signup {
    grid-area: 2 / 2 / 4 / 5;
    display: flex;
    flex-direction: column;
}

.signup-field {
    font-family: Inconsolata;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
}

.signup-field label {
    width: 30%;
}

label {
    font-weight: 400;
    max-width: 250px;
}

.signup-field div {
    display: inline;
    outline: none;
    visibility: visible;
}

/*
  If you press the Insert key, the vertical line caret will automatically
  be replaced by a one-character selection.
*/

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.signup-field div:focus + #caret {
    animation: blink 1s steps(5, start) infinite;
}

.signup-field div.noCaret + #caret {
    visibility: hidden;
}

#caret {
    border: 0;
    padding: 0;
    outline: none;
    height: 90%;
    background-color: #61dafb;
    display: inline-block;
    font-family: monospace;
}

.signup-links {
    display: flex;
    flex-direction: row;
    outline: none;
}

.link {
    padding: 0 25px;
    position: relative;
}

.arrow {
    position: absolute;
    left: calc(10px - 1.5vmin);
    top: 35%;
}