.terminal {
    grid-area: 2 / 1 / 13 / 7;
    font-family: Inconsolata, serif;
    text-align: left;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
}

.printout {
    overflow: hidden;
    position: relative;
    grid-area: 1 / 1 / 6 / 4;
}

.printout-text {
    position: absolute;
    height: auto;
    width: 85%;
    left: 50%;
    transform: translateX(-45%);
    bottom: 0;
    font-weight: 600;
}

.printout-text p, .printout-text ul {
    margin: 25px auto;
}

.success {
    color: #22e522;
}

.network {
    color: yellow;
}

.info {
    color: deepskyblue;
}

.newcommand {
    color: #667171;
    height: 3vw;
    max-height: 18px;
}

.caret {
    border: 0;
    padding: 0;
    height: 3vw;
    width: 1.2vw;
    max-height: 18px;
    max-width: 8px;
    outline: none;
    background-color: #61dafb;
    display: inline-block;
    font-family: monospace;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.command-line {
    outline: none;
    margin: 0 12.5%;
    width: 75%;
    grid-area: 6 / 1 / 8 / 4;
    color: #667171;
}

.option-list-enter {
    opacity: 0.01;
}

.option-list-enter.option-list-enter-active {
    opacity: 1;
    transition: opacity 3000ms ease-in;
}

.option-list-exit {
    opacity: 1;
}

.option-list-exit.option-list-exit-active {
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 10px 25px;
}

.command-arrow {
    position: absolute;
    left: calc(-12px - 0.5vmin);
    top: 1px;
    color: #61dafb;
    animation: blink 1200ms steps(5, start) infinite;
}