.game-interface {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    outline: none;
}

.terminal {
    grid-area: 1 / 1 / 13 / 7;
}

.interchange {
    grid-area: 1 / 7 / 13 / 14;
}

.viewscreen {
    background-color: #0d1818;
    border-radius: 8px;
    margin: auto;
    height: 95%;
    width: 90%;
    border: 1px double #1e4652;
    box-shadow: 0 0 10px #24515e;
}

/* #61dafb #306d7f*/