* {
  user-select: none;
}

.App {
  text-align: center;
  outline: none;
}

.App-header {
  background-color: #182121;
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    "gameheader gameheader gameheader gameheader gameheader"
    ". . . . ."
    "mainbox mainbox mainbox mainbox mainbox"
    "mainbox mainbox mainbox mainbox mainbox"
    "mainbox mainbox mainbox mainbox mainbox"
    "mainbox mainbox mainbox mainbox mainbox"
    "mainbox mainbox mainbox mainbox mainbox"
    "mainbox mainbox mainbox mainbox mainbox"
    "mainbox mainbox mainbox mainbox mainbox"
    ". . . . ."
    ". selectors selectors selectors .";
}

.gameheader {
  grid-area: gameheader;
  font-family: "Ailerons", sans-serif;
  letter-spacing: 4px;
  margin: 0 auto;
  color: #930000;
}

.mainbox {
  grid-area: mainbox;
  width: 80vw;
  margin: 0 auto;
}

.menu {
  grid-area: menu;
  color: #61dafb;
  cursor: pointer;
  margin: auto;
}

code {
  color: #667171;
  font-family: "Inconsolata", serif;
}

.blue {
  color: #61dafb;
}

.links {
  display: flex;
  flex-direction: row;
  outline: none;
}

.link {
  padding: 0 25px;
  position: relative;
}

.arrow {
  position: absolute;
  left: calc(10px - 1.5vmin);
  top: 35%;
}

.selectors {
  grid-area: selectors;
  color: #4e5555;
  font-size: calc(6px + 1vmin);
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.key {
  border: solid 1px #4e5555;
  font-size: 6px;
  border-radius: 3px;
  margin: 0 4px;
}

#enter {
  padding: 0 2px
}

.main-enter {
  opacity: 0.01;
}

.main-enter.main-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.main-exit {
  opacity: 1;
}

.main-exit.main-exit-active {
  opacity: 0.01;
  transition: opacity 1500ms ease-in;
}