* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.orbital {
    height: 40vh;
    width: 40vh;
    position: relative;
    margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
    .orbital-one {
        animation: orbital-logo-forward infinite 60s linear;
    }

    .orbital-two {
        animation: orbital-logo-reverse infinite 40s linear;
    }

    .orbital-three {
        animation: orbital-logo-forward infinite 30s linear;
    }
}

@keyframes orbital-logo-forward {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbital-logo-reverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.orbital-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 40vh;
    min-width: 40vh;
}

.orbital-one {
    max-height: 14vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.orbital-two {
    max-height: 28vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.orbital-three {
    max-height: 40vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.sol {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 2vh;
}